<%= if @game do %>
  You are in the <%= link "game", to: game_path(@conn, :show, @game) %>
<% else %>
  <%= form_for @changeset, game_path(@conn, :create), fn f -> %>
    <%= number_input f, :total %>
    <%= submit "Create Game", class: "btn btn-info" %>
  <% end %>
<% end %>
