<h3> Connect to the Game </h3>

<%= form_for @changeset, game_player_path(@conn, :create, @game), [class: "pure-form"], fn f -> %>
  <%= text_input f, :name, class: "pure-input-1-2 black", placeholder: "Enter the name" %>

  <%= submit "Play", class: "btn btn-danger pure-input-1-2" %>
<% end %>
